/* You can add global styles to this file, and also import other style files */

.margin-0 {

    margin: 0px;
}
.padding-0 {

    padding: 0px;
}

.margin-20 {

    margin: 20px;
}
.padding-20 {

    padding: 20px;
}

.padding-20-lr{

    padding: 0px 20px;
}

.overlay-loader{

	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 1000;
	cursor: not-allowed !important;
	pointer-events: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
