<div mat-dialog-content>
	<form [formGroup]="form" (ngSubmit)="submit()">
		<div class="form-group">
			<label for="password">Password</label>
			<br>
			<input type="password" class="form-control" id="password" placeholder="Password" [formControlName]="'password'" required="true">
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12 text-center">
				<button type="submit" class="btn btn-primary">Verify</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-warning" (click)="onNoClick()">Cancel</button>
			</div>
		</div>
	</form>
</div>
